@model SchoolManagement.MVC.ViewModels.AlunoViewModel

@{
    ViewBag.Title = "DetalhesAlunoSelecionado";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Aluno
            <small>Detalhes Aluno</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Aluno</li>
            <li class="active">Detalhes Aluno</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                    </div><!-- /.box-header -->
                    <div class="box-body">

                        <div>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Nome)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Nome)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.DataNascimento)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.DataNascimento)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Rg)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Rg)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Cpf)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Cpf)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Nacionalidade)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Nacionalidade)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Naturalidade)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Naturalidade)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.UserLogin)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.UserLogin)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Senha)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Senha)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Observacoes)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Observacoes)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.turmaEscolhida)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.turmaEscolhida)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.alunoSelecionadoResponsavel)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.alunoSelecionadoResponsavel)
                                </dd>

                            </dl>
                        </div>
                        <p>
                            @Html.ActionLink("Voltar", "RecuperarAluno")
                        </p>
                    </div><!-- /.box-body -->
                </div>
            </div><!--/.col (left) -->
            <!-- right column -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
