@model SchoolManagement.MVC.ViewModels.AnoLetivoViewModel

@{
    ViewBag.Title = "Remover ano letivo";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Ano Letivo
            <small>Remover Ano Letivo</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Ano Letivo</li>
            <li class="active">Deletar Ano Letivo</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                    </div><!-- /.box-header -->
                    <div class="box-body">

                        <div>
                            <h4>Ano Letivo</h4>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.QntUnidades)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.QntUnidades)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Ano)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Ano)
                                </dd>

                            </dl>

                            @using (Html.BeginForm("Delete", "AnoLetivo", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                
                                @Html.HiddenFor(model => model.AnoLetivoId);
                                @Html.HiddenFor(model => model.QntUnidades)
                                @Html.HiddenFor(model => model.Ano)
                                
                                <div class="form-actions no-color">
                                    <input type="submit" value="Delete" class="btn btn-default" /> |
                                    @Html.ActionLink("Voltar", "Index")
                                </div>
                            }
                        </div>
                    </div><!-- /.box-body -->
                </div>
            </div><!--/.col (left) -->
            <!-- right column -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
@{
    if (ViewBag.AlertMessage != null)
    {
        <div id="dialog" title="Aviso!">
            <p>@ViewBag.AlertMessage</p>
        </div>
    }
}

<script>
    $(document).ready(function () {
        $("#dialog").dialog("open");
    });
</script>
