@model SchoolManagement.MVC.ViewModels.TrabalhosExtrasViewModel

@{
    ViewBag.Title = "DetalhesTrabalhosExtrasMinhaTurma";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Trabalhos Extras
            <small>Detalhes Trabalhos Extras</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Trabalhos Extras</li>
            <li class="active">Detalhes Trabalhos Extras</</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                    </div><!-- /.box-header -->
                    <div class="box-body">

                        <div>
                            <h4>TrabalhosExtrasViewModel</h4>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Nota)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Nota)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.DataProposta)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.DataProposta)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.DataConclusao)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.DataConclusao)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.TurmaSelecionada)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TurmaSelecionada)
                                </dd>

                            </dl>
                        </div>
                        <p>
                            @Html.ActionLink("Voltar", "VisualizarTrabalhosExtrasMinhaTurma")
                        </p>
                    </div><!-- /.box-body -->
                </div>
            </div><!--/.col (left) -->
            <!-- right column -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->