@model IEnumerable<SchoolManagement.MVC.ViewModels.TurmaViewModel>

@{
    ViewBag.Title = "Visualizar Turmas de Professor";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Professor
            <small>Visualizar Turmas de Professor</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Professor</li>
            <li class="active">Visualizar Turmas de Professor</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Visualizar Turmas de Professor</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">

                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.AnoLetivo.Ano)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Descricao)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.HorariosTurmaId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Vagas)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AnoLetivo.Ano)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descricao)
                                    </td>

                                    @{
                                        var valor = item.HorariosTurmaId;
                                        string resultado = RecuperarValorHorarioTurma(valor);
                                    }
                                    <td>
                                        @*@Html.HiddenFor(modelItem => item.HorariosTurmaId)*@
                                        @*@Html.DisplayFor(RecuperarValorHorarioTurma())*@
                                        @Html.DisplayName(resultado)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Vagas)
                                    </td>

                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.TurmaId }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.TurmaId }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.TurmaId })
                                    </td>
                                </tr>
                            }

                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div><!--/.col (left) -->
            <!-- right column -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

@functions{
    public string RecuperarValorHorarioTurma(int value)
    {
        string descricaoRetorno = string.Empty;
        switch (value)
        {
            case 1:
                descricaoRetorno = "Manhã";
                break;
            case 2:
                descricaoRetorno = "Tarde";
                break;
            case 3:
                descricaoRetorno = "Noite";
                break;
            default:
                descricaoRetorno = string.Empty;
                break;
        }
        return descricaoRetorno;
    }
}
