@model IEnumerable<SchoolManagement.MVC.ViewModels.ConteudosExtrasViewModel>

@{
    ViewBag.Title = "VisualizarConteudosExtrasMinhaTurma";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Conteudos Extras
            <small>Visualizar Conteudos Extras</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Conteudos Extras</li>
            <li class="active">Visualizar Conteudos Extras</</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                    </div><!-- /.box-header -->
                    <div class="box-body">

                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.ConteudoId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DataHoraCriacao)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Anexo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Descricao)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TurmaSelecionada)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ConteudoId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DataHoraCriacao)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Anexo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descricao)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TurmaSelecionada)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Detalhes", "DetalhesConteudosExtrasMinhaTurma", new { id=item.ConteudoId})
                                    </td>
                                </tr>
                            }

                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div><!--/.col (left) -->
            <!-- right column -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->