@model IEnumerable<SchoolManagement.MVC.ViewModels.FrequenciaViewModel>

@{
    ViewBag.Title = "Visualizar Alunos Professor";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Frequência
            <small>Lançar frequências</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Frequências</a></li>
            <li class="active">Lançar Frequências</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Lançar Frequências</h3>
                        <div class="box-tools">
                            <div class="input-group" style="width: 150px;">
                                <div class="input-group-btn">
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        @using (Html.BeginForm("LancarFrequenciaAluno", "Frequencia", FormMethod.Post))
                        {
                            <table class="table table-hover">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Aluno.Nome)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Presente)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DataReferencia)
                                    </th>
                                    <th></th>
                                </tr>

                                @{var cont = 1;}
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="form-group col-md-6">
                                                @Html.DisplayFor(m => item.Aluno.Nome, new { id = "nomeAluno" })
                                                @Html.HiddenFor(m => item.Aluno.Id)
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                @{
                                    List<SelectListItem> listaTipoFrequencia = new List<SelectListItem>();
                                    foreach (var item2 in @ViewBag.ListaTiposDeFrequencia)
                                    {
                                        SelectListItem selec = new SelectListItem()
                                        {
                                            Value = item2.Value,
                                            Text = item2.Text
                                        };
                                        listaTipoFrequencia.Add(selec);
                                    }
                                    @Html.DropDownListFor(m => item.resul, listaTipoFrequencia, new { @class = "form-control select2", placeholder = "Selecione uma aluno", style = "width: 100%;", id = "resultadoAluno" + "[" + cont + "]" })
                                                }
                                            </div>

                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                @Html.TextBoxFor(m => item.DataReferencia, new { @id = "data", @size = "11", @maxlength = "11", @placeholder = "Data de nascimento", @class = "form-control datepicker col-md-12", @style = "height: 34px" })
                                                @Html.ValidationMessageFor(model => item.DataReferencia)
                                                @*<input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>*@
                                            </div><!-- /.input group -->

                                        </td>
                                    </tr>
                                    cont++;
                                }
                            </table>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">Lançar frequências</button>
                            </div>
                        }
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<script src="~/Content/plugins/select2/select2.full.min.js"></script>
<script src="~/Content/plugins/input-mask/jquery.inputmask.js"></script>
<script src="~/Content/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="~/Content/plugins/input-mask/jquery.inputmask.extensions.js"></script>
<script src="~/Content/util/util.js"></script>
<script src="~/Content/bootstrap/jquery_ui_min.js"></script>
<script src="~/Content/bootstrap/raphael-min.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/jquery-1.11.3.min.js"></script>

<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>
<script src="~/Scripts/bootstrap-datepicker-globalize.js"></script>
<script src="~/Scripts/locales/bootstrap-datepicker.pt-BR.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datepicker3.css" rel="stylesheet" />

@if (@ViewBag.AlertMessage != null)
{
    <script>
        $(function () {
            $("#dialog").dialog({
                height: 200,
                modal: true,
                buttons: {
                    Ok: function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    </script>
}


<script>
    $(document).ready(function () {
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            language: 'pt-BR'
        });
    });
</script>
