@model IEnumerable<SchoolManagement.MVC.ViewModels.FrequenciaViewModel>

@{
    ViewBag.Title = "VisualizarAlunosFrequenciaConsulta";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Frequencia
            <small>Consultar Frequencia</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Frequencia</li>
            <li class="active">Consultar Frequencia</</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.DataReferencia)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Presente)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Aluno.Nome)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DataReferencia)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Presente)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Aluno.Nome))
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.FrequenciaId }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.FrequenciaId }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.FrequenciaId })
                                    </td>
                                </tr>
                            }

                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div><!--/.col (left) -->
            <!-- right column -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->