@model SchoolManagement.MVC.ViewModels.FuncionarioViewModel

@{
    ViewBag.Title = "Remover - Funcionário";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Funcionário
            <small>Remover Funcionário</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Funcionário</li>
            <li class="active">Remover Funcionário</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                    </div><!-- /.box-header -->
                    <div class="box-body">

                        <div>
                            <h4>Funcionário</h4>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Nome)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Nome)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.DataNascimento)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.DataNascimento)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Rg)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Rg)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Cpf)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Cpf)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Nacionalidade)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Nacionalidade)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Naturalidade)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Naturalidade)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.UserLogin)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.UserLogin)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Senha)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Senha)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.ConfirmarSenha)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ConfirmarSenha)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Funcao)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Funcao)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.PoderAdministrativo)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.PoderAdministrativo)
                                </dd>

                            </dl>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <input type="submit" value="Delete" class="btn btn-primary" /> |
                                    @Html.ActionLink("Voltar", "RecuperarFuncionariosPorNome")
                                </div>
                            }
                        </div>
                    </div><!-- /.box-body -->
                </div>
            </div><!--/.col (left) -->
            <!-- right column -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->