@model SchoolManagement.MVC.ViewModels.LivroViewModel

@{
    ViewBag.Title = "Detalhes - Material";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Material
            <small>Detalhes - Material</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Material</li>
            <li class="active">Detalhes - Material</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                    </div><!-- /.box-header -->
                    <div class="box-body">

                        <div>

                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.NomeLivro)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.NomeLivro)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Autor)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Autor)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Editora)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Editora)
                                </dd>

                            </dl>
                        </div>
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
                            @Html.ActionLink("Back to List", "Index")
                        </p>
                    </div><!-- /.box-body -->
                </div>
            </div><!--/.col (left) -->
            <!-- right column -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->