@model IEnumerable<SchoolManagement.MVC.ViewModels.ProvaViewModel>

@{
    ViewBag.Title = "VisualizarProvasTurma";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Provas
            <small>Visualizar Provas</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Provas</li>
            <li class="active">Visualizar Provas</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Disciplinas</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">

                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.DataProva)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Unidade)
                                </th>
                                
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Tipo)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DataProva)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Unidade)
                                    </td>
                                    <td>
                                        @Html.DisplayName(RecuperarStatusProva((int)item.StatusProva))
                                    </td>
                                    <td>
                                        @Html.DisplayName(RecuperarValorTipoProva((int)item.TipoProva))
                                    </td>
                                    <td>
                                        @Html.ActionLink("Detalhes", "DetalhesProvaSelecionada", new {  id=item.ProvaId })
                                    </td>
                                </tr>
                            }

                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div><!--/.col (left) -->
            <!-- right column -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

@functions{
    private string RecuperarValorTipoProva(int tipo)
    {
        string result = string.Empty;
        switch (tipo)
        {
            case 1:
                result = "Prova Normal";
                break;
            case 2:
                result = "Prova de Recuperação 1";
                break;
            case 3:
                result = "Prova de Recuperação 2";
                break;
            case 4:
                result = "Prova de segunda chamada";
                break;
            case 5:
                result = "Prova final";
                break;
            default:
                break;
        }
        return result;
    }
    
    private string RecuperarStatusProva(int status)
    {
        string result = string.Empty;
        switch (status)
        {
            case 1:
                result = "Pendente";
                break;
            case 2:
                result = "Concluída";
                break;
            default:
                break;
        }
        return result;
    }
}