@model SchoolManagement.MVC.ViewModels.NotificacaoViewModel

@{
    ViewBag.Title = "Remover - Notificação";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Notificação
            <small>Deletar Notificação</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Notificação</li>
            <li class="active">Deletar Notificação</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                    </div><!-- /.box-header -->
                    <div class="box-body">

                        <div>
                            <h4>Notificação</h4>
                            <hr />

                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Assunto)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Assunto)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Descricao)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Descricao)
                                </dd>

                            </dl>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <input type="submit" value="Delete" class="btn btn-default" /> |
                                    @Html.ActionLink("Back to List", "Index")
                                </div>
                            }
                        </div>
                    </div><!-- /.box-body -->
                </div>
            </div><!--/.col (left) -->
            <!-- right column -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->